:root {
  --primary: #ff6a01;
  --bg1: #242424;
  --bg2: #3c3c3c;
  --bg3: #ffc258;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: ;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: black;
  color: white;
  align-items: center;
  padding: 0 4rem;
}

.nav h1 span {
  color: var(--primary);
}

.nav .nav-navbar a {
  color: white;
}

.home {
  height: 90vh;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url('../img/Maxima1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home h3 {
  color: white;
  font-size: 1.5rem;
}