:root {
  --primary: #1D24CA;
  --bg1: #201658;
  --bg2: #F9E8C9;
  --bg3: #;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: ;
  height: auto;
}

header {
  background-color: var(--bg1);
  padding: 25px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: ;
}
