:root {
  --primary: #ff6a01;
  --bg1: #242424;
  --bg2: #3c3c3c;
  --bg3: #ffc258;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: ;
  height: 200vh;
}
